//font-face

@font-face {
  font-family: GTWalsheimBold;
  src: url(../fonts/GT-Walsheim-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: GTWalsheimLight;
  src: url(../fonts/GT-Walsheim-Light.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: TexGyretermesBold;
  src: url(../fonts/gust-e-foundry_texgyretermes/texgyretermes-bold.otf) format("onetype");
  font-style: normal;
}