//_map.scss
@import "variables/var";
.mask {
  #googleMap {
    width: 100%;
    height: 450px;
    border-bottom: 2px solid $dividers;
  }
}

.mask {
  width: 100%;
  margin-bottom: 40px;
}

.input {
  width: 800px;
  padding-top: 40px;
  margin: 0 auto;
}
.btn-input {
  height: 40px;
  overflow: hidden;
}
.btn-submit-primary {
  margin-left: 20px;
  float: right;
  height: 40px;
  width: 100px;
}

.txtbox {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}

.btn-submit-prm {
  cursor: pointer;
  height: 40px;
  padding: 15px 27px;
  line-height: 1px;
  border: solid 2px #353637;
}