//dinbestilling.scss

.din-container {
  max-width: 780px;
  margin: 0 auto;
  padding: 5px 15px;
}

.total-text {
  color: $grey-font;
}

.th-align {
  text-align: center;
  padding-left: 140px;
}
.th-align-right {
  text-align: right;
  padding-right: 22px;
}

.order-left {
  .left-img-item {
    width: 100%;
    vertical-align: middle;
  }
  .order-left-img {
    float: left;
    width: 80px;
    padding: 0 20px 5px 0 ;
  }
  .box-submit-align {
    padding-top: 6px;
  }
}

.btn-group {
  margin: 0;
  padding: 0;
  width: 95px;

  .btn-group-link {
    border: 1px solid $grey-font;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
  }
  .link-2 {
    border-left: 0;
    border-right: 0;
    margin: 0;
    padding: 0;
  }
  .b-g-link {
    font-size: 18px;
    color: $grey-font;
  }
  .item-quantity {
    color: $dark-grey;
    cursor: text;
  }
}

.order-din-table {
  display: table;
  width: 100%;
}

.order-din-row {
  display: table-row;
}
.order-din-cell {
  vertical-align: middle;
  display: table-cell;
  .price-in-kr {
    position: relative;
  }
}
.din-item-2 {
  padding: 0 15px;
}
.din-item-3 {
  width: 80px;
  text-align: right;
}

@media screen and (max-width: 767px){
  h1 {
    padding: 0 15px;
    text-align: center;
    font-size: 22px;
  }
.order-left {
  .order-left-img {
    float: none;
    width: 80px;
    padding: 0 0 5px 0;
    margin: 0 auto;
  }
}
    .din-table {
    display: none;
  }
  .order-din-table {
    display: block;
  }
  .order-din-row {
    .order-din-img {
      float: none;
      margin: 0 auto;
      padding: 10px 0;
    }
    display: block;
  }
  .order-din-cell {
    display: block;

  }
  .din-item-2 {
    float: left;
    padding: 0;
  }
  .din-item-3 {
    float: right;
    line-height: 0;
  }
}
