//hamburger.scss
.header-toggle-btn {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 11px;
  left: 20px;
  display: none;
  padding: 15px;
  margin: -15px;
}

.header-toggle-btn:before {
  display: block;
  height: 30px;
  width: 30px;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/hamburger.svg);
}


@media screen  and (max-width: 767px){
  .header-toggle-btn {
    display: block;
  }
}

.header-toggle-btn:before {
  display: block;
  content: '';
  background-image: url(../images/hamburger.svg);
}
////
////.c-hamburger {
////  display: none;
////  cursor: pointer;
////  position: relative;
////  overflow: hidden;
////  margin: 0;
////  padding: 0;
////  width: 96px;
////  height: 96px;
////  font-size: 0;
////  text-indent: -9999px;
////  -webkit-appearance: none;
////    -moz-appearance: none;
////      appearance: none;
////  -webkit-box-shadow: none;
////    -moz-box-shadow: none;
////      box-shadow: none;
////  -webkit-border-radius: none;
////    -moz-border-radius: none;
////      border-radius: none;
////  border: none;
////  transition: background 0.3s;
////}
////
////.c-hamburger:focus {
////   outline: none;
////}
////.c-hamburger {
////  span {
////    display: block;
////    position: absolute;
////    top: 44px;
////    left: 18px;
////    right: 18px;
////    height: 8px;
////    }
//// }
////
////.c-hamburger span::before,
////.c-hamburger span::after {
////    position: absolute;
////    display: block;
////    left: 0;
////    width: 100%;
////    height: 8px;
////    background: #ffffff;
////    content: "";
////}
////.c-hamburger span::before {
////  top: -20px;
////}
////.c-hamburger span::after {
////  bottom: -20px;
////}
////.c-hamburger-rotate {
////  background-color: #28aadc;
////  span {
////    -webkit-transition: transform 0.3s;
////    -moz-transition: transform 0.3s;
////    -ms-transition: transform 0.3s;
////    -o-transition: transform 0.3s;
////    transition: transform 0.3s;
////  }
////}
////
////.c-hamburger-rotate {
////  /* active state, i.e. menu open */
////  &.is-active {
////    background-color: #166888;
////  }
////}
////
////.c-hamburger-rotate {
////  &.is-active {
////    span {
////      transform: rotate(90deg);
////    }
////  }
////}
////@media screen and (max-width: 767px){
//// .c-hamburger {
////   display: block;
////   float: right;
//// }
////}
///* -----------------------------------------------------------------------------
//  HAMBURGER ICONS COMPONENT
//
//----------------------------------------------------------------------------- */
//
//// vars
//
//$button-width: 56px;                    // The width of the button area
//$button-height: 56px;                   // The height of the button area
//$bar-thickness: 8px;                    // The thickness of the button bars
//$button-pad: 10px;                      // The left/right padding between button area and bars.
//$button-bar-space: 9px;                // The spacing between button bars
//$button-transistion-duration: 0.3s;     // The transition duration
//
///**
// * Toggle Switch Globals
// *
// * All switches should take on the class `c-hamburger` as well as their
// * variant that will give them unique properties. This class is an overview
// * class that acts as a reset for all versions of the icon.
// */
//
//.c-hamburger {
//  display: none;
//  position: relative;
//  overflow: hidden;
//  margin: 0;
//  padding: 0;
//  width: $button-width;
//  height: $button-height;
//  font-size: 0;
//  text-indent: -9999px;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  box-shadow: none;
//  border-radius: none;
//  border: none;
//  cursor: pointer;
//  transition: background $button-transistion-duration;
//}
//
//.c-hamburger:focus {
//  outline: none;
//}
//
//.c-hamburger span {
//  display: block;
//  position: absolute;
//  top: ($button-height / 2) - ($bar-thickness / 2);
//  left: $button-pad;
//  right: $button-pad;
//  height: $bar-thickness;
//  background: rgb(255,255,255);
//}
//
//.c-hamburger span::before,
//.c-hamburger span::after {
//  position: absolute;
//  display: block;
//  left: 0;
//  width: 100%;
//  height: $bar-thickness;
//  background-color: #fff;
//  content: "";
//}
//
//.c-hamburger span::before {
//  top: -$bar-thickness - $button-bar-space;
//}
//
//.c-hamburger span::after {
//  bottom: -$bar-thickness - $button-bar-space;
//}
//
///**
// * Style 1
// *
// * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
// * Nothing too fancy, simple transition.
// */
//
//.c-hamburger--rot {
//  background-color: rgba(144, 119, 119, 0.55);
//}
//
//.c-hamburger--rot span {
//  transition: transform $button-transistion-duration;
//}
//
///* active state, i.e. menu open */
//
//.c-hamburger--rot.is-active {
//  background-color: rgba(6, 6, 6, 0.58);
//}
//
//.c-hamburger--rot.is-active span {
//  transform: rotate(90deg);
//}
//
//@media screen and (max-width: 767px){
// .c-hamburger {
//   display: block;
//   float: right;
// }
//}