//header.scss
ul, ol {
  margin-top: 0;
}
.header-container {
  position: relative;
  //max-width: 1220px;
  //margin:  0 auto;
  //padding: 30px 15px;
}
.header {
  width: 1220px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  height: 150px;
  position: static;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 0;
  background: #fff;
}
.logo-container {
  .header-logo {
    float: left;
    width: 171px;
    height: 70px;
    margin-right: 60px;
    background-size: 171px 70px;
    background-image: url(../images/logo.svg);
  }
}
.header-right {
  float: right;
  padding-top: 20px;
  .header-cart-item {
    margin-left: 5px;
    display: inline-block;
    background: #5db167;
    color: #fff;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
}
.navigation-outer{
  padding-top: 20px;
  a {
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #353637;
    font-weight: bold;
    font-family: "GTWalsheimBold", sans-serif;
  }
}
.navigation {
  padding-top: 5px;
  float: left;
  ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    width: 100%;
  }
  li {
    display: inline-block;
    padding-left: 20px;
  }
  .li-item {

  }
  a {
    font-size: 15px;
    font-family: "GTWalsheimBold", sans-serif;

  }
}
.ul-nav {
  ul {
    padding-right: 20px;
  }

}
.basket-item {
  width: 25px;
  height: 22.5px;
  display: inline-block;
  margin-right: 10.1px;
  color: #acacb5;
  float: left;
  background: url(../images/basket.svg);
  cursor: pointer;
}

.header-right-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #353637;
  font-weight: bold;
  font-family: GTWalsheimBold, sans-serif;
}

.nav-logo {
  display: none;
  padding: 10px 87px;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(51, 51, 51, 0.36);
}

.subheader {
  border-top: #e9e9ea 1px solid;
  border-bottom: #e9e9ea 1px solid;
}
.subheader-menu {
  position: relative;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.subheader-menu-inner {
  @extend .clear-fix;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  & > li {
    float: left;
  }
}
.subheader-menu-link {
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding: 8px 12px;
  text-transform: uppercase;
  color: $grey-font;
  font-family: GTWalsheimBold, sans-serif;
  &.subheader-menu-link-active {
    color: $dark-grey;
  }
  &:hover {
    color: $dark-grey;
  }
}

.subheader-link-dropdown {
  &::after {
    content: " ";
    width: 7px;
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    background-image: url('../images/menu/dropdown-gray.svg');
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

  }
}

.subheader-dropdown{
  position: relative;
}

.subheader-dropdown-list {
  position: absolute;
  left: 0;
  top: 100%;
  border-left: #e9e9ea 1px solid;
  border-right: #e9e9ea 1px solid;
  border-bottom: #e9e9ea 1px solid;
  border-top: 0;
  background: #ffffff;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 10px;
}

.subheader-dropdown-list {
    display: none;
}

.subheader-dropdown {
  &:hover {
    .subheader-dropdown-list {
      display: block;
      .subheader-menu-link {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.subheader-dropdown-list {
  .subheader-menu-link {
    padding: 5px 0;
    margin-right: 0px;

  }
}



@media screen and (max-width: 767px) {
  .header-container {
    height: 60px;
  }
  .navigation,
  .header-right {
    display: block;
    padding-top: 5px;
  }
  .header {
    width: 1220px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 1;
    height: 50px;
    padding: 10px 20px;
    border-bottom: #e9e9ea solid 1px;
    margin-bottom: 40px;
  }

  .header-right-link,
  .basket-item {
    display: none;
  }
  .logo-container {
    .header-logo {
      float: none;
      width: 135px;
      height: 29px;
      display: block;
      overflow: hidden;
      margin: 0 auto;
      background-size: 135px 29px;
      background-repeat: no-repeat;
      background-image: url(../images/logo-mobile.svg);
    }
  }
  .navigation-outer {
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
    position: fixed;
    background: #FFF;
    max-width: 280px;
    height: 100%;
    top: 0;
    left: -360px;
    box-shadow: 7px 19px 20px rgba(16, 16, 14, 0.63);
    .li-item {
      display: block;
      padding: 15px 10px;
      margin-left: 20px;
    }

    .nav-logo {
      display: block;
      padding: 10px 50px;
    }
  }
  .menu-open .nav-overlay {
    display: block;
  }
  .menu-open .navigation-outer {
    left: 0;

  }
  .subheader {
        padding-top: 50px;
    position: relative;
  }

}